.section-jumbotron{
	background-color: $color-grey-light-1;
	padding: 6rem 0 0;

	img{
		width: 100%;
	}
}

.section-tours {
	background-color: $color-grey-light-1;
	padding: 25rem 0 15rem 0;
	margin-top: -10rem;
}

.section-stories {
	padding: 15rem 0;
	background-color: $color-grey-light-1;
}

.section-checkout{
	margin-top: -3.5rem;
}